aside {
    background: $blueMain;
    height: 100%;
    display: flex;
    flex-direction: column;
}


div.dashboard_menu {
    margin: auto;
    margin-top: pxToRem(116);
    color: white;
    font-weight: bold;
    font-size: $font-base-size;
    height: 12rem;
    display: flex;
    flex-direction: column;
    position: relative;
    @media screen and (max-width:530px) {
        padding: .3rem!important;
    }
}

.dashboard_menu_sections {
    margin: auto;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    @media screen and(max-width:492px){
        width: 64%!important;
        ul {
            width: 120%;
            li {
                margin-left: 1rem!important;
            }
        }
        
    }
    @media screen and(max-width:422px){
        width: 59%!important;
        ul {
            width: 128%!important;
            li {
                margin-left: 1.3rem!important;
            }
        }
        
    }
}

.dashboard_menu_sections:last-child {
    border-top: 1px solid white;
    padding-top: 1rem;
    @media screen and(max-width:422px) {
        width: 30%!important;
        
    }
}

.dashboard_menu_sections h3 {
    text-align: left;
    font-weight: bold;
}

.dashboard_menu_sections ul li {
    list-style: none;
    margin: 2.4rem;
    margin-left: 0;
    display: flex;
    cursor: pointer;
    transform: translateX(-.5rem);
    transition: 1s ease;
    font-weight: bold;

    &:hover {
        transform: translateX(0rem);
    }
}

.dashboard_menu_sections ul li:hover::before {
    background: white;
    margin-right: .5rem;
    margin-left: -.5rem;
}

.dashboard_menu_sections ul li::before {
    content: '';
    display: block;
    width: .5rem;
    height: .5rem;
    background: transparent;
    border-radius: 100%;
    margin: auto;
    margin-right: 0rem;
    margin-left: 0;
    transition: .3s ease-out;
}