///////////////////////////////////COLORS//////////////////////////////////

$greenFlag : #32B436;
$orangeFlag : #FFA846;
$purpleFlag : #ff468d;
$turquoiseFlag : #707070;
$blueMain : #564AFF;


////////////////////////////////SIZES//////////////////////////////////////

$font-base-size : pxToRem(16);
$font-big-size : pxToRem(36);